In [11]:
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000,
    'loc':'Wayanad' 
}
print(emp)

print(emp['eid'])
print(emp['ename'])
print(emp['esal'])
print(emp['loc'])

{'eid': 101, 'ename': 'Rahul', 'esal': 45000, 'loc': 'Wayanad'}
101
Rahul
45000
Wayanad

In [13]:
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000,
    'loc':'Wayanad' 
}

#print all keys
for key in emp.keys():
    print(key)
#print all values
for value in emp.values():
    print(value)

eid
ename
esal
loc
101
Rahul
45000
Wayanad

In [14]:
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000,
    'loc':'Wayanad' 
}
#print all items
for item in emp.items():
    print(item)

('eid', 101)
('ename', 'Rahul')
('esal', 45000)
('loc', 'Wayanad')

In [15]:
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'loc':'Wayanad'
}
print(emp.keys())
print(emp.values())
print(emp.items())

dict_keys(['eid', 'ename', 'esal', 'loc'])
dict_values([101, 'Rahul', 45000.45, 'Wayanad'])
dict_items([('eid', 101), ('ename', 'Rahul'), ('esal', 45000.45), ('loc', 'Wayanad')])

In [16]:
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'loc':'Wayanad'
}
emp.popitem()  #remove the last inserted key:value pair
print(emp)

{'eid': 101, 'ename': 'Rahul', 'esal': 45000.45}